/* Global styles */

/* Berkeley mono regular font - latin */
@font-face {
  font-family: 'Berkeley Mono';
  font-style: normal;
  src: local(''),
  url("./fonts/berkeley-mono-variable/BerkeleyMonoVariable-Regular.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("./fonts/berkeley-mono-variable/BerkeleyMonoVariable-Regular.woff") format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* Berkeley Mono italic font - latin */
@font-face {
  font-family: 'Berkeley Mono';
  font-style: italic;
  src: local(''),
  url("./fonts/berkeley-mono-variable/BerkeleyMonoVariable-Italic.woff2") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("./fonts/berkeley-mono-variable/BerkeleyMonoVariable-Italic.woff") format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

body {
  font-family: 'Lora', 'Libre Baskerville', 'Courier New', serif, Courier;
  background-color: #f8f6f2;
  color: #333;
  line-height: 1.6;
}

/* Typography */
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', 'Lora', serif;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.3;
  color: #2e4057;
}

/* Layout */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* Header */
header#quarto-header {
  display: none;
}

.custom-title {
  font-family: Rosarivo, Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #5c4040;
}

/* Navigation */
.custom-nav {
  padding: 1.5em 0;
}

.custom-nav-content {
  grid-column: body-content-start/body-content-end;
  grid-row: content-top/page-bottom;
  align-content: flex-start;
}

.custom-nav-sidebar {
  grid-column: body-end/page-end;
  grid-row: content-top/page-bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 767.98px) {
  .custom-nav-sidebar {
    grid-row: page-bottom;
    grid-column: body-start;
  }
}

/* Code cells */
.cell.code {
  margin-bottom: 2rem;
}

.cell.code > .sourceCode {
  background-color: #f0f4f8;
  border: 1px solid #d0dce6;
  padding: 1rem;
  font-family: "Berkeley Mono", "Cutive Mono", monospace;
  box-shadow: 0 4px 6px rgba(42, 37, 37, 0.15), 0 2px 4px rgba(42, 37, 37, 0.1);
  border-radius: 4px;
  position: relative;
  z-index: 2;
  margin-bottom: 1.5rem;
}

.cell.code > .sourceCode::before {
  content: 'Input';
  position: absolute;
  top: -1.5rem;
  left: 0;
  background-color: #c0d0d0;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 4px 0 0;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(42, 37, 37, 0.1);
}

/* Code output */
.cell.code .cell-output > pre,
.cell.code .cell-output > .sourceCode > pre,
.cell.code .cell-output-stdout > pre {
  background-color: #f6f8fa;
  margin: -2rem 0 2rem 2rem;
  border: none;
  padding: 2rem 1rem 1rem;
  border-left: 2px solid #d0dce6;
  border-right: 2px solid #d0dce6;
  border-bottom: 2px solid #d0dce6;
  box-shadow: 0 6px 8px rgba(42, 37, 37, 0.15), 0 3px 6px rgba(42, 37, 37, 0.1);
  border-radius: 0 4px 4px 4px;
  position: relative;
  z-index: 1;
}

.cell.code .cell-output::before {
  content: 'Output';
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  background-color: #d0dce6;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 4px 0 0;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(42, 37, 37, 0.1);
}

/* Inline code */
div.sourceCode {
  font-family: "Berkeley Mono", "Cutive Mono", monospace;
  background-color: #f0f4f8;
  border: 1px solid #d0dce6;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(42, 37, 37, 0.15), 0 2px 4px rgba(42, 37, 37, 0.1);
  border-radius: 4px;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 2;
}

div.sourceCode::before {
  content: 'Code';
  position: absolute;
  top: -1.5rem;
  left: 0;
  background-color: #c0d0d0;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 4px 0 0;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(42, 37, 37, 0.1);
}

/* Blockquotes */
blockquote {
  background-color: #f2f8f5;
  border-left: 4px solid #4caf50;
  padding: 1.5rem;
  margin: 2rem 0;
  color: #333;
  font-family: 'Lora', 'Courier New' serif, Courier;
  font-style: regular;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

blockquote p {
  margin: 0;
  position: relative;
  z-index: 1;
}

blockquote p::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: #f2f8f5;
  z-index: -1;
  border-radius: 3px;
}

/* Lists */
ul, ol {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
}

ul li, ol li {
  margin-bottom: 0.75rem;
}

/* Tables */
.table {
  font-size: 16px;
  margin-bottom: 1.5rem;
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
}

/* Figures */
.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 90%;
  font-style: italic;
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd8d8;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin: 1rem 0;
}

/* Misc */
.title.toc-ignore {
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

div.description {
  padding: 1rem 0;
  font-style: italic;
  font-size: 120%;
  opacity: 80%;
}

/* Media Queries */
@media (max-width: 767.98px) {
  .wrapper {
    padding: 1.5rem 0.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .title.toc-ignore {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  blockquote {
    padding: 1rem;
    margin: 1.5rem 0;
  }
}