body {
  font-family: 'Courier New', Courier, monospace; /* A more traditional, typewriter-style font */
  background-color: #f4f1e9; /* A paper-like background color */
  color: #333; /* A softer text color */
}

.cell {
  margin-bottom: 1rem;
  border: 1px solid #ddd; /* Adds a border around each cell */
  background-color: #fefefe; /* A softer background color for cells */
  padding: 0.5rem; /* Adds some padding within cells */
}

.cell > .sourceCode {
  background-color: #e8f0f2; /* a subtle blue tint */
  border: none; /* removing the border */
  padding: 0.5rem;
  font-family: 'Fira Code', monospace; /* a monospaced font ideal for code */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adds a subtle shadow for an elevated look */
  border-radius: 4px; /* optional: adds rounded corners */
  margin-bottom: 1rem; /* adds some space below the code card */
}



.cell-output > pre {
  margin-bottom: 0;
  background-color: #f9f9f9; /* A subtle background color for output blocks */
  border: 1px solid #ddd; /* Adds a border around output blocks */
  padding: 0.5rem; /* Adds some padding within output blocks */
}

.cell-output > pre, .cell-output > .sourceCode > pre, .cell-output-stdout > pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid #8f8f8f; /* A more muted border color */
}

.cell-output > .sourceCode {
  border: none;
  background: none;
  margin-top: 0;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  font-style: italic;
  font-size: 135%;
  opacity: 70%;
}

/* show_doc signature */
blockquote > pre {
  font-size: 14px;
  background-color: #f9f9f9; /* A subtle background color for blockquote blocks */
  border: 1px solid #ddd; /* Adds a border around blockquote blocks */
  padding: 0.5rem; /* Adds some padding within blockquote blocks */
}

.table {
  font-size: 16px;
  /* disable striped tables */
  --bs-table-striped-bg: var(--bs-table-bg);
  border-collapse: collapse; /* Ensures borders between cells collapse into a single border */
}

.table th, .table td {
  border: 1px solid #ddd; /* Adds a border around table cells */
  padding: 0.5rem; /* Adds some padding within table cells */
}

.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

.title.toc-ignore {
  font-weight: 1000;
}

/* Additional styling for headings to give a more formal appearance */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Optional: Add a vintage-style border around the content */
.wrapper {
  border: 2px solid #ddd;
  padding: 2rem;
  margin: 2rem;
}