/* Global styles */
body {
  font-family: 'Lora', 'Libre Baskerville', 'Courier New', serif, Courier, monospace;
  background-color: #f4f1e9;
  color: #333;
}

/* Typography */
p {
  margin-top: 0.2em;
  margin-bottom: 0.65em;
  line-height: 1.55;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', 'Lora', 'Georgia', serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Header */
header#quarto-header {
  display: none;
}

.custom-title {
  font-family: Rosarivo, Georgia, 'Times New Roman', Times, serif;
  font-size: 3.2rem;
}

/* Navigation */
.custom-nav {
  padding-bottom: 3em;
  padding-top: 2em;
}

.custom-nav-content {
  grid-column: body-content-start/body-content-end;
  grid-row: content-top/page-bottom;
  align-content: flex-start;
}

.custom-nav-sidebar {
  grid-column: body-end/page-end;
  grid-row: content-top/page-bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 767.98px) {
  .custom-nav-sidebar {
    grid-row: page-bottom;
    grid-column: body-start;
  }
}

/* Code cells */
.cell {
  margin-bottom: 1rem;
  border: none;
  background-color: none;
  padding: 0;
}

.cell > .sourceCode {
  background-color: #e8f0f2;
  border: 2px solid #c0d0d0;
  padding: 1rem;
  font-family: 'Berkeley Mono', 'Cutive Mono', monospace;
  box-shadow: 0 8px 16px rgba(42, 37, 37, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.cell > .sourceCode::before {
  content: 'Input';
  position: absolute;
  top: -1.5rem;
  left: 0;
  background-color: #c0d0d0;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 4px 0 0;
  font-size: 0.9rem;
}

/* Code output */
.cell-output > pre,
.cell-output > .sourceCode > pre,
.cell-output-stdout > pre {
  background-color: #f0f5f7;
  margin-top: -1rem;
  margin-left: 1rem;
  margin-right: 0.1rem;
  margin-bottom: 1.5rem;
  border: none;
  padding: 2rem 1rem 1rem;
  border-left: 2px solid #c0d0d0;
  border-right: 2px solid #c0d0d0;
  border-bottom: 2px solid #c0d0d0;
  box-shadow: 0 8px 16px rgba(42, 37, 37, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 4px 4px;
  position: relative;
  z-index: 1;
}

.cell-output::before {
  content: 'Output';
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  background-color: #d0e0e0;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 4px 0 0;
  font-size: 0.9rem;
}

/* Inline code */
div.sourceCode {
  font-family: 'Berkeley Mono', 'Cutive Mono', monospace;
  background-color: #e8f0f2;
  border: 1px solid #d0d0d0;
  padding: 0.5rem;
  box-shadow: 0 6px 12px rgba(42, 37, 37, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 1rem;
  position: relative;
}

div.sourceCode::before {
  content: 'Input';
  position: absolute;
  top: -1.5rem;
  left: 0;
  background-color: #c0d0d0;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px 4px 0 0;
  font-size: 0.9rem;
}

/* Blockquotes */
blockquote {
  background-color: #f8f8f8; /* Change to a very light gray */
  border-left: 4px solid #4e8d6c; /* Change to a muted purple left border */
  padding: 1em;
  margin: 1em 0;
  color: #333;
  font-family: 'Lora', 'Courier New' serif, Courier, monospace;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

blockquote p {
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 3px #f8f8f8; /* Add a subtle text shadow */
}

blockquote p::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #f8f8f8; /* Add a semi-transparent white background */
  z-index: -1;
  border-radius: 5px; /* Add rounded corners to the background */
}

/* Lists */
ul, ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  list-style-position: outside;
}

ul {
  margin-left: 1.5em;
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: circle;
}

ul li, ol li {
  margin-bottom: 0.20em;
  line-height: 1.5;
  font-size: 1em;
}

ol {
  margin-left: 1.5em;
}

ul ul, ul ol, ol ul, ol ol {
  margin-left: 1em;
}

/* Tables */
.table {
  font-size: 16px;
  --bs-table-striped-bg: var(--bs-table-bg);
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

/* Figures */
.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

img {
  border: 1.5px solid #ddd8d8;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

/* Misc */
.title.toc-ignore {
  font-weight: 1000;
}

.wrapper {
  border: 2px solid #ddd;
  padding: 2rem;
  margin: 2rem;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  font-style: italic;
  font-size: 135%;
  opacity: 70%;
}

/* Collapsible content */
.collapsible-content {
  display: none;
  padding-left: 1em;
}

.collapsible-trigger {
  cursor: pointer;
  position: relative;
  padding-left: 1em;
}

.collapsible-trigger::before {
  content: '▸';
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}

.collapsible-trigger.active::before {
  transform: rotate(90deg);
}