/* quarto syntax highlight colors */
:root {
  --quarto-hl-al-color: #c44e52;
  --quarto-hl-an-color: #5a4a8c;
  --quarto-hl-at-color: #4e7bb3;
  --quarto-hl-bn-color: #e79555;
  --quarto-hl-bu-color: #7b5e9e;
  --quarto-hl-ch-color: #d37a91;
  --quarto-hl-co-color: #5b965b;
  --quarto-hl-cv-color: #5b965b;
  --quarto-hl-cn-color: #e79555;
  --quarto-hl-cf-color: #7b5e9e;
  --quarto-hl-dt-color: #4e7bb3;
  --quarto-hl-dv-color: #e79555;
  --quarto-hl-do-color: #5b965b;
  --quarto-hl-er-color: #c44e52;
  --quarto-hl-ex-color: #4e7bb3;
  --quarto-hl-fl-color: #e79555;
  --quarto-hl-fu-color: #5a4a8c;
  --quarto-hl-im-color: #7b5e9e;
  --quarto-hl-in-color: #4c9ea3;
  --quarto-hl-kw-color: #7b5e9e;
  --quarto-hl-op-color: #333;
  --quarto-hl-ot-color: #4e7bb3;
  --quarto-hl-pp-color: #4e7bb3;
  --quarto-hl-re-color: #5a4a8c;
  --quarto-hl-sc-color: #d37a91;
  --quarto-hl-ss-color: #d37a91;
  --quarto-hl-st-color: #d37a91;
  --quarto-hl-va-color: #4e7bb3;
  --quarto-hl-vs-color: #d37a91;
  --quarto-hl-wa-color: #e0c38a;
}

/* other quarto variables */
:root {
  --quarto-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code span.al {
  color: #c44e52;
  background-color: #fce8e8;
  font-weight: bold;
  font-style: inherit;
}

code span.an {
  color: #5a4a8c;
  font-style: inherit;
}

code span.at {
  color: #4e7bb3;
  font-style: inherit;
}

code span.bn {
  color: #e79555;
  font-style: inherit;
}

code span.bu {
  color: #7b5e9e;
  font-weight: bold;
  font-style: inherit;
}

code span.ch {
  color: #d37a91;
  font-weight: bold;
  font-style: inherit;
}

code span.co {
  color: #5b965b;
  font-style: italic;
}

code span.cv {
  color: #5b965b;
  font-style: italic;
}

code span.cn {
  color: #e79555;
  font-style: inherit;
}

code span.cf {
  color: #7b5e9e;
  font-weight: bold;
  font-style: inherit;
}

code span.dt {
  color: #4e7bb3;
  font-style: inherit;
}

code span.dv {
  color: #e79555;
  font-style: inherit;
}

code span.do {
  color: #5b965b;
  font-style: italic;
}

code span.er {
  color: #c44e52;
  font-style: inherit;
  text-decoration: underline;
}

code span.ex {
  color: #4e7bb3;
  font-weight: bold;
  font-style: inherit;
}

code span.fl {
  color: #e79555;
  font-style: inherit;
}

code span.fu {
  color: #5a4a8c;
  font-style: inherit;
}

code span.im {
  color: #7b5e9e;
  font-weight: bold;
  font-style: inherit;
}

code span.in {
  color: #4c9ea3;
  font-style: inherit;
}

code span.kw {
  color: #7b5e9e;
  font-weight: bold;
  font-style: inherit;
}

pre > code.sourceCode > span {
  color: #333;
  font-style: inherit;
}

code span {
  color: #333;
  font-style: inherit;
}

code.sourceCode > span {
  color: #333;
  font-style: inherit;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #333;
  font-style: inherit;
}

code span.op {
  color: #333;
  font-style: inherit;
}

code span.ot {
  color: #4e7bb3;
  font-style: inherit;
}

code span.pp {
  color: #4e7bb3;
  font-style: inherit;
}

code span.re {
  color: #5a4a8c;
  background-color: #ece8f4;
  font-style: inherit;
}

code span.sc {
  color: #d37a91;
  font-weight: bold;
  font-style: inherit;
}

code span.ss {
  color: #d37a91;
  font-style: inherit;
}

code span.st {
  color: #d37a91;
  font-style: inherit;
}

code span.va {
  color: #4e7bb3;
  font-style: inherit;
}

code span.vs {
  color: #d37a91;
  font-style: inherit;
}

code span.wa {
  color: #e0c38a;
  font-style: inherit;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=debc5d5d77c3f9108843748ff7464032.css.map */
